:root {
	--color-bg: #fafafa;
	--color-text: #171717;
	--shade-10: color-mix(in oklch, var(--color-bg), var(--color-text) 10%);
	--shade-20: color-mix(in oklch, var(--color-bg), var(--color-text) 20%);
	--shade-30: color-mix(in oklch, var(--color-bg), var(--color-text) 30%);
	--shade-40: color-mix(in oklch, var(--color-bg), var(--color-text) 40%);
	--shade-50: color-mix(in oklch, var(--color-bg), var(--color-text) 50%);
	--shade-60: color-mix(in oklch, var(--color-bg), var(--color-text) 60%);
	--shade-70: color-mix(in oklch, var(--color-bg), var(--color-text) 70%);
	--shade-80: color-mix(in oklch, var(--color-bg), var(--color-text) 80%);
	--shade-90: color-mix(in oklch, var(--color-bg), var(--color-text) 90%);
	--font-base: "Big Shoulders Text", system-ui, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	height: 100vh;
	background-image: radial-gradient(
		circle,
		var(--shade-10) 1px,
		var(--color-bg) 1px
	);
	background-size: 1rem 1rem;
	color: var(--shade-80);
	font-family: var(--font-base);
}

ul {
	list-style: none;
}

.hidden {
	display: none !important;
}

.container {
	width: min(50rem, calc(100vw - 2rem));
	margin-inline: auto;
	padding-block: min(4rem, 4vh);
	position: relative;
}

#search {
	--pad-inline: 1rem;
	margin-inline: auto;
	width: min(25rem, 90%);
	font-size: 1.5rem;
	border-radius: 0.25rem;
	background-color: var(--color-bg);
	border: 0.1em solid;
	border-color: var(--shade-40);
	position: fixed;
	left: 50%;
	translate: -50%;

	.search-bar-container {
		padding-inline: var(--pad-inline);
	}

	input {
		display: block;
		width: 100%;
		border: none;
		background-color: transparent;
		color: inherit;
		padding-block: 0.75rem;

		&::placeholder {
			color: var(--shade-40);
			font-weight: 200;
		}

		&:focus {
			outline: none;
		}
	}

	&:focus-within {
		border-color: var(--shade-90);
		outline: 0.05em solid var(--shade-50);
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	.search-results:has(li) {
		padding-block: 0.5rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: calc(100% - 2 * var(--pad-inline));
			height: 2px;
			background-color: var(--shade-50);
			transform: translateX(-50%);
		}
	}

	.search-results li {
		padding-block: 0.3em;
		padding-inline: var(--pad-inline);
		font-size: 1.375rem;
		font-weight: 300;
		color: var(--shade-70);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.search-item {
		cursor: pointer;

		&:hover {
			background-color: var(--shade-10);
		}
	}

	.search-results .loader {
		text-align: center;
		font-size: 1rem;
		color: var(--shade-40);
		letter-spacing: 0.5em;
	}
}

.current {
	margin-block: 8rem;
	font-size: 1.5rem;

	.location {
		text-transform: uppercase;
		margin-bottom: 0.125rem;
	}

	#forecast {
		margin-top: 1.5rem;
		display: flex;
		justify-content: space-between;
	}

	.temperature {
		display: flex;
		align-items: center;
		gap: 2rem;
		font-size: 9rem;
		line-height: 1.1;
		color: var(--shade-90);
	}

	.temperature .value {
		font-weight: 800;
	}

	.temperature .unit {
		font-weight: 200;
	}

	.apparent {
		font-size: 2rem;
		font-weight: 200;
	}

	.weather-icon {
		font-size: 0.6em;
		color: var(--shade-80);
	}

	.more-info {
		text-align: right;
		margin-top: 0.75rem;
	}

	.condition {
		font-size: 1.875rem;
		font-weight: 600;
		margin-bottom: 0.5em;
	}

	.info {
		margin-top: 0.25em;
		font-weight: 300;
	}
}
