:root {
	--color-bg: #fafafa;
	--color-text: #171717;
	--shade-10: color-mix(in oklch, var(--color-bg), var(--color-text) 10%);
	--shade-20: color-mix(in oklch, var(--color-bg), var(--color-text) 20%);
	--shade-30: color-mix(in oklch, var(--color-bg), var(--color-text) 30%);
	--shade-40: color-mix(in oklch, var(--color-bg), var(--color-text) 40%);
	--shade-50: color-mix(in oklch, var(--color-bg), var(--color-text) 50%);
	--shade-60: color-mix(in oklch, var(--color-bg), var(--color-text) 60%);
	--shade-70: color-mix(in oklch, var(--color-bg), var(--color-text) 70%);
	--shade-80: color-mix(in oklch, var(--color-bg), var(--color-text) 80%);
	--shade-90: color-mix(in oklch, var(--color-bg), var(--color-text) 90%);
	--font-base: "Roboto Condensed", sans-serif;
	--font-heading: "Big Shoulders Display", system-ui, sans-serif;

	&[data-theme="night"] {
		--color-text: #fff;
		--color-bg: #111;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	height: 100vh;
	background-image: radial-gradient(
		circle,
		var(--shade-10) 1px,
		var(--color-bg) 1px
	);
	background-size: 1rem 1rem;
	color: var(--shade-80);
	font-family: var(--font-base);
}

ul {
	list-style: none;
}

.hidden {
	display: none !important;
}

.container {
	width: min(45rem, calc(100vw - 2rem));
	margin-inline: auto;
	padding-block: min(4rem, 4vh);
	position: relative;
}

#search {
	--pad-inline: 1rem;
	margin-inline: auto;
	width: min(26rem, 90%);
	font-size: 1.25rem;
	border-radius: 0.25rem;
	background-color: var(--color-bg);
	border: 0.1em solid;
	border-color: var(--shade-40);
	position: absolute;
	left: 50%;
	translate: -50%;

	.search-bar-container {
		padding-inline: var(--pad-inline);
	}

	input {
		display: block;
		width: 100%;
		border: none;
		background-color: transparent;
		color: inherit;
		padding-block: 0.75rem;

		&::placeholder {
			color: var(--shade-40);
			font-size: 1rem;
			text-transform: uppercase;
		}

		&:focus {
			outline: none;
		}
	}

	&:focus-within {
		border-color: var(--shade-90);
		outline: 0.05em solid var(--shade-50);
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	.search-results:has(li) {
		padding-block: 0.5rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: calc(100% - 2 * var(--pad-inline));
			height: 2px;
			background-color: var(--shade-50);
			transform: translateX(-50%);
		}
	}

	.search-results li {
		padding-block: 0.5em;
		padding-inline: var(--pad-inline);
		font-size: 1.125rem;
		color: var(--shade-70);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.search-item {
		cursor: pointer;

		&:hover {
			background-color: var(--shade-10);
		}
	}

	.search-results .loader {
		text-align: center;
		font-size: 1rem;
		color: var(--shade-40);
		letter-spacing: 0.5em;
	}
}

.weather {
	margin-top: 8rem;

	.location,
	.current .temperature,
	.current .condition,
	.heading {
		font-family: var(--font-heading);
	}

	.location {
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-bottom: 0.125rem;
		font-weight: 600;
	}
}

#forecast .current {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;

	.temperature-container {
		color: var(--shade-90);
	}

	.temperature {
		display: flex;
		align-items: center;
		gap: 2.5rem;
		font-size: 8.5rem;
		line-height: 1.1;
	}

	.temperature .value {
		font-weight: 800;
	}

	.temperature .unit {
		font-weight: 200;
	}

	.apparent {
		font-size: 1.25rem;
		font-weight: 300;
		text-transform: uppercase;
	}

	.weather-icon {
		font-size: 0.45em;
		color: var(--shade-80);
	}

	.more-info {
		text-align: right;
		margin-top: 0.75rem;
	}

	.condition {
		font-size: 1.75rem;
		font-weight: 600;
		margin-bottom: 0.5em;
	}

	.info {
		font-size: 1.25rem;
		margin-top: 0.5em;
		font-weight: 300;
		display: flex;
		align-items: end;
		justify-content: end;
		gap: 0.35em;
	}

	.info .value {
		font-weight: 400;
	}
}

#forecast .heading {
	font-size: 1.25rem;
	text-transform: uppercase;
}

#forecast :is(.hourly, .daily) {
	margin-top: 3.5rem;
}

#forecast .modules {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;

	li {
		text-align: center;
		flex-basis: 3rem;
	}

	.weather-icon {
		font-size: 1.5rem;
		color: var(--shade-70);
	}

	.day-time {
		font-size: 1rem;
		color: var(--shade-70);
		text-transform: uppercase;
		margin-top: 0.3em;
		margin-bottom: 0.625rem;
	}

	.temperature {
		font-size: 1.25rem;
		font-weight: 600;
		color: var(--shade-90);
		margin-bottom: 0.3em;
		font-weight: 600;
	}

	.temperature:has(.min) {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25em;

		.min {
			font-weight: 300;
			color: var(--shade-60);
			font-size: 1.125rem;
		}
	}

	.precipitation {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 300;
		font-size: 1rem;

		.icon {
			display: flex;
			align-items: center;
		}

		.icon svg {
			fill: var(--shade-60);
			height: 0.8em;
		}
	}
}
